h1{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 60px;
  line-height: 0.8;
}

h2{
  text-align: center;
  font-size: 38px;
  margin-bottom: 60px;
}

p{
  text-align: center;
  font-size: 24px;
  line-height: 0.5;
}
