*{
  line-height: 0.5;
  text-indent: 10px;
}

h1{
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

li{
  text-indent: -20px;
  line-height: 1.2;
}

ul{
  list-style-position: inside;
}

h3{
  line-height: 0;
  font-size: 22px;
}

.whoAmI{
  padding-bottom: 15px;
}

.timeAtResonate{
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: circle;
}

.aboutMe{
  display: flex;
  width: 100%;
}

.text{
  text-align: center;
  width: 33.33%
}

.image{
  width: 33.33%;
}

.image img{
  width: 70%;
  height: auto;
  display: block;
  padding-left: 15%;
  padding-top: 20px;
}
