<h1>About me!</h1>

<div class="whoAmI">
  <h3>Who am I?</h3>
  <ul>
    <li>My name is Mikel</li>
    <li>I am {{ age }} years old, born 04/02/2007</li>
    <li>I studied Maths, Further Maths, Computer Science and Physics for A Levels</li>
    <li>I got A*AAB for my A Levels, and started a degree apprenticeship at Resonate</li>
    <li>I have a strong passion for Ice Hockey and the gym</li>
    <li>I also really love eating - I'm hungry ALL of the time</li>
  </ul>
</div>

<div class="job">
  <h3>About my job</h3>
  <ul>
    <li>I have been with Resonate since September 2025, meaning I have been here for:</li>
    <div class="timeAtResonate">
      <li>{{ yearsAtResonate }} years, {{ monthsAtResonate }} months, {{ daysAtResonate }} days, or</li>
      <li>{{ totalDaysAtResonate }} days, or</li>
      <li>{{ totalHoursAtResonate }} hours, or</li>
      <li>{{ totalMinutesAtResonate }} minutes</li>
    </div>
    <li>I aspire to do Cybersecurity and become a cybersecurity analyst</li>
  </ul>
</div>
